# ------------------------------
# Node modules
# ------------------------------
client/node_modules/
server/node_modules/

# ------------------------------
# Build outputs
# ------------------------------
client/build/

# ------------------------------
# Environment variables
# ------------------------------
server/.env

# ------------------------------
# Logs & misc
# ------------------------------
*.log
.DS_Store
